<link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8">

<h1> Home Page </h1>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <img src="Sunset.jpg" alt="Sunset" style="width:420px;height:315px;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XKB5h2tJQHQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-xs-12">
            <form id="new-post">
                <label for="body">New Post</label>
                <input type="text" name="body"/>
                <button type="submit">Save</button>
            </form>
            <ul class="post-list" id="posts">
                {{#each posts}}
                <li><a href="/posts/{{this._id}}">{{this.body}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
