<link rel="stylesheet" href="/css/style.css" media="screen" charset="utf-8">

<h1> Home Page </h1>
<div class="container">

</div>
    <div class="row">
        <div class="col-xs-12">
            <form id="new-post">
                <label for="body">New Post</label>
                <input type="text" name="body" class="form-control"/>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            <ul id="post-list" class="posts">
                {{#each posts}}
                <li>
                    <a href="/posts/{{this._id}}">
                    {{this.body}}
                    </a>
                    <div class="remove-post pull-right" data-id="{{this._id}}"><i class="ion-trash-a"></i></div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
