
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <!-- Form Name -->
        <legend>Sign up</legend>

        <div class="form-box">
            <form id="signup-form">

                <!-- Text input-->
                <div class="form-group">
                  <label class="control-label" for="firstName">First Name:</label>
                  <input id="firstName" name="firstName" type="text" placeholder="Enter your first name here" class="form-control input-md">


                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="control-label" for="lastName">Last Name</label>

                  <input id="lastName" name="lastName" type="text" placeholder="Enter your last name here" class="form-control input-md">


                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="control-label" for="email">Email:</label>

                  <input id="email" name="email" type="text" placeholder="Enter your email here" class="form-control input-md">


                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="control-label" for="password">Password:</label>

                  <input id="password" name="password" type="password" placeholder="Enter your password here" class="form-control input-md">
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="control-label" for="passwordConfirm">Confirm Password:</label>

                  <input id="passwordConfirm" name="passwordConfirm" type="password" placeholder="Enter your password again here" class="form-control input-md">

                  </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                  <label class="control-label" for="singlebutton"></label>
                    <button id="submit" name="submitSignUp" class="btn btn-primary" type="submit">Submit</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
